# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.env/
.venv/
env/
venv/

# Project-specific
rxtx.egg-info/
